@import '../../SassVariables/variables';
@import '../../SassVariables/mediaVariables';

.details_cont {
  margin: 64px auto 0;
  height: auto;

  .form_flex_cont {
    width: auto;
    height: auto;
    @include flex(row);
    flex-wrap: wrap;
    margin: 46px 284px 0;

    @include xl {
      margin: 46px 200px 0;
      height: 100%;
    }
    @include lg {
      margin: 46px 150px 0;
    }
  }
  .submit_button {
    border: 1px solid;
    background: #19c365;
    height: 100%;
    width: 100%;
    font-family: $mainFont;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $mainBgc;
    border-radius: 4px;
    cursor: pointer;
  }
  .submit {
    border-radius: 4px;
    width: 161px;
    height: 44px;
    margin-left: 284px;
    &:hover {
      opacity: 0.9;
    }
    @include xl {
      margin-left: 200px;
    }
    @include lg {
      margin-left: 150px;
    }
  }
}
