$screen-lg-max: 1100px;
$screen-xl-max: 1200px;

@mixin lg {
  transition: ease all 0.5s;
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  transition: ease all 0.5s;
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}
