$border: 1px solid black;
$mainBgc: #ffffff;
$greyBgc:  #f2f5f9;
$green: #19c365;

@mixin flex($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}