@import '../../SassVariables/variables';

.list_cont {
  width: auto;
  margin: 64px 64px 0 0;
  h3 {
    width: auto;
    height: 22px;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: $titleColor;
    margin: 0 0 18px 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    width: auto;
    height: 22px;
    font-family: $mainFont;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: $descriptionColor;
    margin-bottom: 8px;
  }
}
