@import '../../SassVariables/variables';

.companies_cont {
  width: 1080px;
  height: 350px;
  margin: 96px auto 0;
  border-radius: 4px;
  background-color: $greyBgc;
  border: $border;
  .companies_title {
    width: 164px;
    height: 30px;
    font-family: ProximaNova;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: $titleColor;
    margin: 0 auto;
    padding-top: 70px;
  }
  .companies_desc {
    width: 712px;
    height: 44px;
    font-family: ProximaNova;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #303030;
    margin: 4px auto;
  }
  .companies_pic_cont{
    margin: 48px auto 64px;
    .tnt {
      margin: 0 96px 0 221px;
      width: 138px;
      height: 50px;
      object-fit: contain;
    }
    .mpl {
      width: 122px;
      height: 90px;
      object-fit: contain;
    }
    .gls {
      margin: 0 221px 0 96px;
      width: 186px;
      height: 50px;
      object-fit: contain;
     
    }
  }
}
