@import '../../SassVariables/variables';
@import '../../SassVariables/mediaVariables';
.card_cont {
  height: auto;
  width: 328px;
  margin: 0 40px 66px 0;
  @include xl{
    margin-bottom: 76px;
  }
  .img_cont {
    text-align: center;
    margin-bottom: 25px;
    .img {
      height: 48px;
      width: 48px;
    }
  }
  .card_title {
    width: auto;
    height: auto;
    font-family: $mainFont;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    margin: 0 auto;
    color: $titleColor;
    margin-bottom: 8px;
  }
  .card_desc {
    width: 328px;
    height: 22px;
    font-family: $mainFont;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: $descriptionColor;
    margin: 0;
  }
}
