@import '../../../SassVariables/variables';
@import '../../../SassVariables/mediaVariables';

.form_cont {
  width: 344px;
  max-width: 100%;
  height: 96px;
  margin-right: 24px;
  @include lg{
    width: 270px;
    margin: 0 auto;

  }
}

.form_cont:nth-child(even) {
  margin-right: 0px;
  @include xl{
    margin-right: 20px
  }
  @include lg{
    margin: 0 auto;

  }
}
.label_cont {
  width: 344px;
  height: 18px;
  font-family: $mainFont;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: $descriptionColor;
  margin-bottom: 4px;
}

.input_cont {
  margin-bottom: 26px;
  input {
    width: 344px;
    height: 44px;
    border-radius: 4px;
    border: solid 1px #e0e0e0;
    padding: 0;
    background: #f9f9f9;
    @include lg{
      width: 270px;
    }
  }
}

::placeholder,
input[value] {
  font-family: $mainFont;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  color: #919191;
}
::placeholder {
  padding: 12px 156px 10px 16px;
}
