@import '../../SassVariables/variables';
@import '../../SassVariables/mediaVariables';

.navBar_cont {
  width: 1280px;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  background-color: $mainBgc;
  z-index: 0;
  @include flex(row);

  .fuvar_logo {
    margin: 33px 24px 33px 100px;
    width: 75px;
    height: 14px;
    @include lg{
      margin-left: 20px
    }
    .Logo {
      object-fit: contain;
    }
  }
  .divider {
    width: 1px;
    height: 32px;
    background-color: #e0e0e0;
    margin: 24px 0;
  }

  .options {
    margin: 24px 0;
    width: 600px;
    height: 32px;
    @include flex(row);
    .Help {
      margin: 7px 8px 9px 24px;
    }
    .desc {
      margin: 5px 0;
      width: auto;
      height: 22px;
      font-family: $mainFont;
      font-size: 15px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: normal;
      color: $descriptionColor;
    }
    .Add-Box,
    .Tree {
      margin: 7px 8px 9px 32px;
    }
    .navicon {
      width: 16px;
      height: 16px;
      object-fit: contain;
    }
  }
  .log_part {
    width: 400px;
    height: 40px;
    margin: 20px 100px 20px 0;
    @include flex(row);
    .login {
      margin: 9px 24px 9px 115px;
    }
    .reg {
      margin: 9px 24px 9px 0;
    }
    .help {
      margin: 9px 0;
    }
    .text {
      width: auto;
      height: 22px;
      font-family: $mainFont;
      font-size: 15px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: normal;
      color: $descriptionColor;
    }
  }
}
